@import "src/common/styles/mixins";
@import "src/common/styles/variables";

.container {
  font-family: $mainFontFamily;
  color: $textColor;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 500px;
  width: 400px;
  border-radius: 20px;

  & h2 {
    margin: 5px;
  }

  .title {
    @include alignFlexCenter()
  }

  .spaceForPassword {
    background-color: #efe3d1;
    padding-left: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-self: center;
    align-self: center;
    height: 45px;
    width: 68%;

    .passwordValue {
      width: 72%;
    }

    .clipboardButton {
      margin-right: 10px;
      background-color: antiquewhite;
      height: 30px;
      width: 30px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
    }
  }

  .copiedField {
    margin-right: 60px;
    display: flex;
    justify-content: flex-end;
    height: 25px;
  }

  .options {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .passwordLengthArea {

    .passwordLength {
      @include alignFlexCenter();
      margin-bottom: 10px;
      font-weight: 700;
    }

    .rangeWrap {
      display: flex;
      justify-content: space-around;

      .inputArea {
        .rangeArea {
          accent-color: #eedcc0;
          background-color: #fff;
        }
      }

      .rangeValues {

      }

    }
  }

  .buttonArea {
    @include alignFlexCenter();

    .button {
      font-family: $mainFontFamily;
      background-color: #eedcc0;
      letter-spacing: 1.5px;
      border: none;
      height: 30px;
      width: 70%;

    }
  }
}














