@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #3B3B98;
    color: #fff;
    display: flex;
    font-family: 'Muli', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    min-height: 100vh;
}

p {
    margin: 5px 0;
}

h2 {
    margin: 10px 0 20px;
    text-align: center;
}

input[type=checkbox] {
    margin-right: 0;
}

.container {
    background-color: #23235B;
    box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
    padding: 20px;
    width: 350px;
    max-width: 100%;
}

.result-container {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 12px 10px;
    height: 50px;
    width: 100%;
}

.result-container #result {
    word-wrap: break-word;
    max-width: calc(100% - 40px);
}

.result-container .btn {
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    width: 40px;
}

.btn {
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 12px;
    background-color: #3B3B98;
}

.btn-large {
    display: block;
    width: 100%;
}





/*.container {*/
/*    background-color: rgb(227, 223, 223);*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: space-around;*/
/*    border-radius: 20px;*/
/*    color: black;*/
/*    font-family: Bahnschrift, sans-serif;*/
/*    font-size: 1.5em;*/
/*    height: 550px;*/
/*    width: 450px;*/
/*}*/

/*.title {*/

/*}*/

/*.spaceForPassword {*/
/*    padding-top: 10px;*/
/*    background-color: rgba(248, 248, 248, 0.96);*/
/*    border-radius: 20px;*/
/*    height: 40px;*/
/*    width: 300px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

/*.options {*/
/*    margin-top: 20px;*/
/*    height: 250px;*/
/*    display: grid;*/
/*    list-style: none;*/
/*}*/

/*.rangeWrap {*/
/*    height: 40px;*/
/*    width: 220px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-around;*/
/*    flex-direction: row;*/
/*    border-radius: 7px;*/
/*}*/

/*.rangeValues {*/
/*    width: 20px;*/
/*    font-family: "Bauhaus 93", Arial, sans-serif;*/
/*    color: #fff;*/
/*}*/

/*.rangeArea {*/
/*    width: 130px;*/
/*    height: 15px;*/
/*    -webkit-appearance: none;*/
/*    background: #111;*/
/*    outline: none;*/
/*    border-radius: 15px;*/
/*    overflow: hidden;*/
/*    box-shadow: inset 0 0 5px rgba(0,0,0,1);*/
/*}*/

/*.rangeArea::-webkit-slider-thumb {*/
/*    position: relative;*/
/*    -webkit-appearance: none;*/
/*    width: 15px;*/
/*    height: 15px;*/
/*    border-top-right-radius: 5px;*/
/*    border-bottom-right-radius: 5px;*/
/*    background: #fff;*/
/*    cursor: pointer;*/
/*    outline: none;*/
/*    box-shadow: -407px 0 0 400px #fff;*/
/*    !*box-shadow: -407px 0 0 400px #00fd0a;*!*/
/*}*/

/*.buttonArea {*/
/*    height: 30px;*/
/*    width: 200px;*/
/*    padding-bottom: 20px;*/
/*}*/

/*.button {*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    border: 1px solid #2020af;*/
/*    background-color: #2020af;*/
/*    color: #fff;*/
/*    border-radius: 10px;*/
/*}*/


