@import "src/common/styles/variables";

.setting {
    font-family: $mainFontFamily;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
}

.optionCheckbox {
    accent-color: #eedcc0;
}

.optionTitle {
    width: 215px;
}

//input[type="checkbox"] { /* change "blue" browser chrome to yellow */
//    filter: invert(100%) hue-rotate(18deg) brightness(1.7);
//}